@model OneStopMiniProject.Models.User

@{
    ViewBag.Title = "PatientDash";
    Layout = "~/Views/Shared/Dlayout.cshtml";
}


<fieldset>
    <legend>
        @if (Session["name"] != null)
        {
            <text>
                <h6>@Html.ActionLink("Logout", "Logout", "User")</h6>
                Welcome!@Session["name"].ToString();
            </text>
        }
    </legend>
</fieldset>